@import url('./avatar.css');

.account-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 100%;
}

.account-screen-header {
    background-image: url("../../public/images/heroBanner.jpg");
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;

    height: 20vh;
    width: 100vw;

    position: relative;
}

.account-screen-body {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.account-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6rem 2rem;
    place-items: center;

    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    margin: auto;
}

.account-option {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: min(18rem, 100%);
    height: 12rem;
    position: relative;

    padding: 0.5rem;
    margin: 0 0.5rem
}

.account-option:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 10px #3f3f3f;
}

.account-option h2 {
    position: relative;

    font-size: 1.5rem;
    color: #000;
}

.account-option p {
    color: #000;
    text-align: center;
    font-weight: lighter;
    width: 100%;
}

.option-icon {
    position: absolute;
    top: -35%;

    width: 6rem;
    height: 6rem;
}