.account-details-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.updatable-account-options {
    margin-top: 4rem;
}

.updatable-account-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: min(24rem, 500px);
    padding: 2rem;
    margin: 0.4rem;
}

.updatable-account-option-data p {
    font-weight: lighter;
}