@import url(./colors.css);

.orange-button {
    cursor: pointer;

    background-color: var(--accent-color);
    border: none;
    padding: 1rem;
    box-shadow: 0 2px 4px #646464;
}

.orange-button>* {
    color: white;

    font-family: 'Cascadia Code', sans-serif;
    font-weight: lighter;
}

.orange-button:hover {
    background-color: #ff7817;
}

.orange-button:disabled {
    background-color: #2b1d13;
    cursor: not-allowed;
}

.bounce {
    animation: bounce 150ms ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}