@import url('./card.css');
@import url('./colors.css');

.full-chef-preview {
    position: fixed;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    width: 100%;
    height: 100%;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.full-chef-preview-card {
    position: absolute;
    width: 45%;
    height: 85%;
    justify-content: flex-start;
    align-items: center;

    animation: preview-card-scale-up 300ms ease-in-out;
    z-index: 11;
}

.preview-card-close {
    animation: preview-card-scale-down 300ms ease-in-out;
}

@keyframes preview-card-scale-up {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes preview-card-scale-down {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0);
    }
}

.full-chef-preview-card .exit-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
}

.full-chef-preview-card .full-chef-image {
    width: 20%;
    height: 20%;
    margin: 1rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #fff;
    border-radius: 50%;
}

.full-chef-preview-card .full-chef-image img {
    max-width: 20%;
    border-radius: 50%;
}

.full-chef-preview-card-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
    width: 100%;

    position: relative;
}

.full-chef-preview-card-rating-review button {
    border: none;
    background: none;
    cursor: pointer;

    font-family: Cascadia Code, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
}

.full-chef-preview-card-rating-review button:hover {
    color: var(--accent-color);
}

.rating-star {
    color: var(--accent-color);
}

.full-chef-preview-card-recipes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 1rem;

    width: 85%;
    height: 55%;
    box-shadow: inset 0 0 10px #adadad;

    overflow: hidden scroll;
    /* scroll-behavior: smooth; */
}

.full-chef-preview-card-recipe-root {
    margin: auto;
    height: 12rem;
}

.full-chef-preview-card-recipe {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.full-chef-preview-card-recipe>* {
    margin: 0.5rem;
}

.full-chef-preview-card-recipe p,
.full-chef-preview-card-recipe h2,
.full-chef-preview-card-recipe h3 {
    font-family: Cascadia Code, sans-serif;
    font-weight: lighter;
}

.full-chef-preview-card-recipe-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    height: 100%;
}

.full-chef-preview-card-recipe-image {
    width: 25%;
    background-color: #fff;
    border-radius: 50%;
}

.full-chef-preview-card-recipe-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.full-chef-preview-card-recipe-content-left>* {
    margin: 0.5rem 0;
}

.full-chef-preview-card-recipe-content-cta {
    display: flex;
    flex-direction: column;
}

.full-chef-preview-card-recipe-content-cta p span {
    color: var(--accent-color);
}


.full-chef-preview-card-recipe-content-cta button {
    width: 10rem;
}

.full-chef-preview-card-recipe-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.full-chef-preview-card-recipe-content-right div {
    width: 100%;
    overflow: hidden auto;
}

.full-chef-preview-card-recipe-content-right ul li {
    list-style: none;
}

.full-chef-preview-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}